.dentro {
    display: flex;
    margin: 10px;
    
  

}
.dentro img {
    width: 200px;
    
}
.todoo {
    padding: 10px;
    
}
.dds {
    display: flex;
    justify-content: center;
}
.dds h1 {
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dds img {
    height: 22px;
    display: flex;
    margin-top: 10px;
   
}

.reserve-button {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}