* {
    margin: 0;
    padding: 0;
}

header {
    color: rgb(255, 255, 255);
    background-color:#2c386e5b;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
    background-color: #1E8CE5;
}
a {
    color: white;
    text-decoration: none;

}

.barra {
    display: flex;
    align-items: center;
}

.barra ul  {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 30px;
}
.barra img {
    width: 20px;
    margin-right: 5px;
    display: inline-block;
  

    

    
    
    
}


.secciones img {
    height: 300px;
    width: 400px;
    border-radius: 20px;
    justify-content: space-evenly;
}

.secciones ul {
    display: flex;
    justify-content: space-evenly;
}

.seccion_3 img {
    height: 300px;
    width: 400px;
}


.videoContainer{
    display: flex;
    justify-content: center;
    height: 300px;
    width:  100%;
    margin: 20px;
    
}
.video{
    height: 300px;
    width: 80%;
    object-fit: cover;
    border-radius: 20px;
    
}